@font-face {
    font-family: "Akshar", sans-serif;
    src: url(Akshar/Akshar-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Archivo Black", sans-serif;
    src: url(Archivo_Black/ArchivoBlack-Regular.ttf);
}

@font-face {
    font-family: "DM Serif Text", serif;
    src: url(DM_Serif_Text/DMSerifText-Regular.ttf);
}