.navbar ul{
    font-family: "Archivo Black", sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.menu{
    display: flex;
    gap: 1.5em;
}

.navbar button{
    cursor: pointer;
    background-color: white;
    border: none;
    font-family: "Archivo Black", sans-serif;
    font-weight: 700;
}

.navbar img{
    width: 30em;
}

.red{
    color: red;
}



.undernav ul{
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    box-shadow: 0 4px 10px -6px #717171;
    font-family: "Archivo Black", sans-serif;
    font-weight: 600;
    list-style: none;
    display: flex;
    gap: 2em;
    justify-content: center;
}

main{
    margin: 0 auto;
    width: 60em;
}

h1{
    font-size: 35px;
    width: 23em;
    margin: 0 !important;
}

.greyp{
    font-size: 20px;
    color: #7a7b7b;
    width: 40em;
}

.greybox{
    padding-bottom: 2em;
}

.bordbillede{
    width: 600px;
}

.greyread{
    color: #cccccc;
    font-family: "Akshar", sans-serif;
    font-weight: 700;
}

.starttext{
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.starttext p{
    color: red;
    font-family: "Akshar", sans-serif;
    font-weight: 700;
}

.midtenflex{
    font-size: 15px;
    display: flex;
    color: #7f8b93;
}

.infoflexfirst{

    justify-content: space-between;
    display: flex;
    border-bottom: 1px dashed rgb(16, 16, 16);
}

.infoflexfirst .red{
    color: red;
    font-family: "Akshar", sans-serif;
    font-weight: 700;
}

.lineone{
    
    font-family: "Akshar", sans-serif;
    font-weight: 550;
}

.ptextinfo{
    width: 20em;
}

.Medieflex{
    margin-left: 30em;
    margin-bottom: 5em;
    font-family: "Akshar", sans-serif;
    display: flex;
    gap: 1em;
}



.Facebook{
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0.5rem 1.75rem;
    background-color: #306199;
    border-radius: 3px;
}

.Facebook, .gap{
    font-size: 14px;
    display: flex;
    gap: 1em;
}

.Twitter{
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0.5rem 1.75rem;
    background-color: #26c4f1;
    border-radius: 3px;
}

.Twitter, .gap{
    font-size: 14px;
    display: flex;
    gap: 1em;
}

.Email{
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0.5rem 1.75rem;
    background-color: #999999;
    border-radius: 3px;
}

.Email, .gap{
    font-size: 14px;
    display: flex;
    gap: 1em;
}

.fa-square-facebook, .fa-twitter, .fa-at{
    font-size: 23px;
}

.midtenlogin{
    margin: auto;
    width: 23em;
}

.midtenlogin p{
    font-family: "Akshar", sans-serif;
    font-weight: 800;
    margin-left: 3em;
    width: 32em;
}

.midtenlogin .logintekst{
    font-weight: 200;
    color: #847a82;
    margin-left: 6em;
}

.midtenlogin a{
    color: black;
    margin-left:0.4em
}

.midtenlogin form {
    
     margin: auto;
     width: 10em;
}

.midtenlogin button{
    color: white;
    border: none;
    border-radius: 2px;
    background-color: red;
    font-family: "Akshar", sans-serif;
    font-weight: 700;
    height: 2.5em;
    width: 15em;
}

.didyouread{
    width: 65em;
    border-bottom: 1px dashed rgb(16, 16, 16);
    margin-bottom: 5em;
    display: flex;
    justify-content: space-between;
}

.didyouread p{
    color: red;
    font-family: "Akshar", sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.fa-circle-arrow-left , .fa-circle-arrow-right{
   font-size: 20px;
   margin-left: 1em;
}

.firstcolumns{
    columns: 1fr 1fr 1fr 1fr;
    display: flex;
    gap: 1em;
}

.underflex{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed rgb(16, 16, 16);
}

.snyt{
    color: red;
    font-family: "Akshar", sans-serif;
    font-weight: 700;
}

.greytime{
    color: #d0cccc;
    font-family: "Akshar", sans-serif;
    font-size: 10px;
}

.listwidth{
    
    font-size: 12px;
    width: 15em;
}

.line{
    border-bottom: solid 1.5px rgb(191, 189, 189);
    width: 14em;
    font-family: "Akshar", sans-serif;
    font-weight: 800;
}

.secondcolumns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

.redabonnement{
    color: red;
    font-family: "Akshar", sans-serif;
    font-size: 12px;
    font-weight: 800;
}

.aflex{
    padding-top: 15em;
    display: flex;
    
}

.anbefalinger{
    color: red;
    font-family: "Akshar", sans-serif;
    font-size: 12px;
    font-weight: 800;
    margin-right: 1.5em;
    border-bottom: 1px dashed rgb(16, 16, 16);
    width: 38em;
}

.comment{
    color: red;
    font-family: "Akshar", sans-serif;
    font-size: 12px;
    font-weight: 800;
    border-bottom: 1px dashed rgb(16, 16, 16);
    width: 38em;
    padding-bottom: 1em;
}

.aover{
    color: black;
    font-family: "Akshar", sans-serif;
    font-size: 12px;
    font-weight: 800;
}

.name{
    color: black;
    font-family: "Akshar", sans-serif;
    font-size: 12px;
    font-weight: 800;
}

.date{
    color: #a8a6a4;
    font-family: "Akshar", sans-serif;
    font-size: 12px;
}

.commentflex{
    display: grid;
    width: 35em;
}

.underinfo{
    font-family: "Archivo Black", sans-serif;
    padding-bottom: 1.5em;
    border-bottom: 1.5px solid lightgray ;
}

.kommentar{
    font-family: "Archivo Black", sans-serif;
    padding-bottom: 1.5em;
}

.logininfo{
    font-family: "Archivo Black", sans-serif;
    color: gray;
    padding-bottom: 6em;
}

footer{
    font-family: "Archivo Black", sans-serif;
    font-size: 12px;
    background-color: #d7d7d7;
    color: #454545;
}

.footerflex{
    display: flex;
}

.fa-twitter{
    font-size: 12px;
}

.footerover{
    width: 17em;
}

.overskrift{
    color: #777777;
    font-family: "Archivo Black", sans-serif;
    font-size: 18px;
    font-weight: 700;
}

#email{
    height: 2.5em;
    border: none;
    border-radius: 4px;
}

.tilmeld{
    height: 2.5em;
    border: none;
    border-radius: 4px;
}

.skriv{
    height: 2.5em;
    border: none;
    width: 8em;
}